@mixin container {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    max-width: 1220px;
    padding: 0 110px;
  }
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin h1($color: $darken-color) {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $color;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

@mixin h2 {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $darken-color;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

@mixin h3 {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $darken-color;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

@mixin text($size: 14px, $line-height: 18px, $color: $text-color) {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $line-height;
  color: $color;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin text-uppercase($size: 16px, $line-height: 16px, $color: $darken-color) {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $line-height;
  text-align: center;
  text-transform: uppercase;
  color: $color;
}

@mixin title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $darken-color;
}

