/* здесь используйте глобальные переменные */
$base: #68b738;
$base-darken: #5eaa2f;
$base-darken-2: #63a63c;
$base-card: #f2f2f2;

$lighten: #ffffff;
$lighten-2: rgba(255, 255, 255, 0.6);
$lighten-3: rgba(255, 255, 255, 0.3);

$darken: #000000;
$darken-2: #222222;
$darken-3: #111111;
$darken-4: #3e3e3e;
$darken-5: #6b6b6b;
$darken-6: #444444;

$grey: #cdcdcd;
$grey-2: #e6e6e6;
$grey-3: #e7e7e7;
$grey-4: #d3d3d3;
$grey-5: #ebebeb;
$grey-6: #dcdcdc;

$text-primary: #444444;
$text-secondary: #666666;

$additional-color: #d9d9d9;
$background-color: #eaeaea;
$error: #ff8282;

$mobile: 320px;
$mobile-only: 767px;
$tablet: 768px;
$desktop: 1440px;

$oswald: "Oswald", "Arial", sans-serif;
$lato: "Lato", "Arial", sans-serif;
