.company-name {
  display: block;
  max-block-size: 18px;

  cursor: pointer;
  color: $darken-3;
  transition: 0.3s ease;

  &:visited {
    color: $darken-3;
    transition: 0.3s ease;
  }

  &--footer {
    max-block-size: 24px;

    &:hover,
    &:focus,
    &:focus-visible {
      color: $darken-4;
      transition: 0.3s ease;
    }

    &:active {
      color: $darken-5;
      transition: 0.3s ease;
    }
  }

  @media (min-width: $desktop) {
    max-block-size: 21px;
  }
}

.company-name__image {
  max-block-size: 18px;

  @media (min-width: $desktop) {
    max-block-size: 21px;
  }
}
