.diet {
  @include container;

  margin-block-end: 27px;

  @media (min-inline-size: $tablet) {
    margin-block-end: 45px;
  }

  @media (min-inline-size: $desktop) {
    margin-block-end: 43px;
  }
}

.diet__list {
  @include list;

  @media (min-width: $desktop) {
    display: flex;
    gap: 80px;
  }
}

.diet__item {
  position: relative;
  margin-block-end: 20px;
  padding-inline: 20px;
  padding-block-start: 19px;
  padding-block-end: 18px;

  background-color: $base-card;
  color: $text-primary;

  @media (min-inline-size: $tablet) {
    box-sizing: border-box;
    margin-block-end: 30px;
    padding-block-start: 77px;
    padding-inline: 52px;
    padding-block-end: 52px;
  }

  @media (min-inline-size: $desktop) {
    inline-size: 570px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    inset-block-start: 0;
    inset-inline-start: 0;

    background-repeat: no-repeat;
  }

  &::before {
    inline-size: 50px;
    block-size: 50px;
    border-radius: 50%;
    background-color: $base;
  }

  &--slim {
    &::after {
      inline-size: 36px;
      block-size: 50px;

      background-image: url("../../images/icons/stack.svg#cat-slim");
      translate: 20% -6%;
    }
  }

  &--pro {
    &::after {
      inline-size: 67px;
      block-size: 28px;

      background-image: url("../../images/icons/stack.svg#cat-pro");
      translate: -15% 46%;
    }
  }

  @media (min-inline-size: $tablet) {
    &::before {
      inline-size: 200px;
      block-size: 200px;
    }

    &--slim {
      &::after {
        inline-size: 140px;
        block-size: 194px;
      }
    }

    &--pro {
      &::after {
        inline-size: 268px;
        block-size: 112px;
      }
    }
  }

  @media (min-inline-size: $desktop) {
    &::before {
      inline-size: 100px;
      block-size: 100px;
    }

    &--slim {
      &::after {
        inline-size: 70px;
        block-size: 97px;
      }
    }

    &--pro {
      &::after {
        inline-size: 134px;
        block-size: 56px;
      }
    }
  }
}


.diet__link {
  position: relative;
  display: inline-block;

  color: $darken;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    inset-block-start: 50%;
    translate: 0 -50%;

    inline-size: 32px;
    block-size: 10px;
    margin-inline-start: 15px;

    mask-image: url("../../images/icons/stack.svg#icon-arrow");
    mask-repeat: no-repeat;
    background-color: $darken;
    transition: 0.3s ease;
  }

  &:hover::after {
    mask-image: url("../../images/icons/stack.svg#icon-arrow-long");
    transition: 0.3s ease;
  }

  &:active {
    opacity: 0.3;
    transition: 0.3s ease;
  }
}

.diet__title {
  @include h3;

  margin-block-start: 10px;
  margin-block-end: 29px;
  margin-inline-start: 72px;

  @media (min-width: $tablet) {
    margin-block-start: 0;
    margin-block-end: 24px;
    margin-inline-start: 0;
  }

  @media (min-width: $desktop) {
    margin-inline-start: 162px;
    margin-block-end: 75px;
  }
}

.diet__text {
  @include text;

  margin-block-end: 23px;

  @media (min-width: $tablet) {
    max-inline-size: 342px;
    color: $darken;
  }

  @media (min-width: $desktop) {
    max-inline-size: 100%;
  }
}

.diet__link {
  @include text-uppercase;

  position: relative;
  display: block;

  max-inline-size: 134px;
  padding-block-start: 19px;
  padding-block-end: 4px;
  text-align: start;

  text-decoration: none;
  transition: all 0.7s linear;

  &:hover {
    text-decoration: none;
    transition: all 0.7s linear;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
    transition: all 0.7s linear;
  }

  @media (min-width: $tablet) {
    @include text-uppercase(20px, 30px);

    max-inline-size: 165px;
    margin-block-start: 48px;
    padding-block-start: 4px;
    text-align: start;
  }

  @media (min-width: $desktop) {
    max-inline-size: 168px;
    margin-block-start: 0;
  }
}

