.logo {
  display: flex;
  align-items: center;
  gap: 56px;

  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: 0.3s ease;
  }

  &:active {
    opacity: 0.6;
    transition: 0.3s ease;
  }

  @media (min-width: $tablet) {
    max-inline-size: 174px;
    gap: 13px;
  }

  @media (min-width: $desktop) {
    max-inline-size: 202px;
  }
}

.logo__picture {
  max-block-size: 38px;

  @media (min-width: $tablet) {
    max-block-size: 50px;
  }

  @media (min-width: $desktop) {
    max-block-size: 59px;
  }
}

.logo__image {
  @media (min-width: $tablet) {
    margin-inline-end: 0;
    max-inline-size: 174px;
    block-size: 52px;
  }

  @media (min-width: $desktop) {
    max-inline-size: 202px;
    block-size: 59px;
  }
}
