.map {
  min-height: 362px;

  @include adaptive-bg("../../../images/map-bg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $grey;
}

.map__frame {
  width: 100%;
  border: none;
}
