.menu {
  display: block;

  @media (max-width: $mobile-only) {
    &--closed .menu__control {
      inset-block-start: 19px;
      inset-inline-end: 20px;

      mask-image: url("../../images/icons/stack.svg#icon-burger");
      mask-size: 24px 24px;
    }

    &--nojs .menu__control {
      mask-image: url("../../images/icons/stack.svg#icon-close");
    }

    &--closed .menu__navigation {
      block-size: 0;
      content-visibility: hidden;
      will-change: block-size, content-visibility;
      transition: all 0.5s linear;
    }

    &--nojs .menu__navigation {
      block-size: auto;
      overflow: visible;
      content-visibility: visible;
      transition: all 0.5s linear;
    }
  }
}

.menu__control {
  position: absolute;
  inset-block-start: 18px;
  inset-inline-end: 16px;

  display: flex;
  inline-size: 26px;
  block-size: 26px;
  border: none;
  padding: 0;
  background-color: transparent;

  mask-image: url("../../images/icons/stack.svg#icon-close");
  mask-size: 18px 18px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: $darken;

  transition: opacity 0.3s ease;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $base;
    transition: background-color 0.3s ease;
  }

  &:focus {
    outline: 2px solid $darken;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.menu__navigation {
  block-size: auto;
  content-visibility: visible;
  transition: all 0.5s linear;
  will-change: block-size, content-visibility;

  @media (min-width: $tablet) {
    block-size: auto;
    overflow: visible;
    transition: all 0.5s linear;
  }
}
