.page-header {
  border-bottom: 1px solid $grey-2;
  background-color: $lighten;
  color: $darken;

  @media (min-width: $tablet) {
    margin-block-end: 62px;
    padding-block-start: 25px;
    padding-block-end: 0;
    border-block-end: none;
  }

  @media (min-width: $desktop) {
    margin-block-end: 71px;
    padding-block-start: 54px;
  }
}

.page-header__wrapper {
  @media (min-width: $tablet) {
    @include container;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.page-header__picture {
  inline-size: 34px;
  block-size: 38px;

  @media (min-width: $tablet) {
    inline-size: auto;
    block-size: auto;
  }
}

.page-header__logo {
  position: relative;
  max-inline-size: 190px;
  margin-block-start: 12px;
  margin-block-end: 16px;
  padding-block: 0;
  padding-inline: 20px;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;
  }
}

.page-header__menu {
  margin-block-end: 0;

  @media (min-width: $tablet) {
    margin-block-end: 5px;
  }

  @media (min-width: $desktop) {
    margin-block-end: 9px;
  }
}
