.promo {
  min-height: 302px;
  box-sizing: border-box;
  padding-top: 27px;
  margin-bottom: 200px;

  background-color: $base-darken-2;
  background-image:
    linear-gradient(to right, rgba($base, 0.85) 0%, rgba($base, 0.85) 100%),
    image-set(
      url("../../images/promo-bg@1x.jpg") 1x,
      url("../../images/promo-bg@2x.jpg") 2x
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: $lighten;

  @media (min-width: $tablet) {
    min-height: 610px;
    padding-top: 0;
    background-image: none;
    background-color: $lighten;
  }

  @media (min-width: $desktop) {
    min-height: 707px;
    margin-top: -200px;
    padding-top: 150px;
    margin-bottom: 82px;

    background-image:
      linear-gradient(to right, $lighten 59%, rgba($base, 0.85) 59%, rgba($base, 0.85) 100%),
      image-set(
        url("../../images/promo-bg-desktop@1x.jpg") 1x,
        url("../../images/promo-bg-desktop@2x.jpg") 2x
      );

    background-repeat: no-repeat;
    background-position: center, top 10px right -12px;
    background-size: contain;
  }
}
