.review {
  padding-block-start: 27px;
  padding-block-end: 25px;
  background-color: $background-color;

  @media (min-width: $tablet) {
    padding-block-start: 0;
    padding-block-end: 61px;
    background-color: $lighten;
    background-image: linear-gradient($lighten 0%, $lighten 55%, $background-color 55%, $background-color 100%);
  }

  @media (min-width: $desktop) {
    padding-block-end: 15px;
    background-color: $background-color;
    background-image: linear-gradient($lighten 0%, $lighten 22.7%, $background-color 22.7%, $background-color 100%);
  }
}

.review__wrapper {
  @media (min-width: $tablet) {
    @include container;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.review__inner {
  padding: 0 20px;
  margin-block-end: 42px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    margin-block-end: 70px;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 440px;
    margin-block-end: 0;
  }
}

.review__heading {
  @include h2;

  margin-block-start: 0;
  margin-block-end: 33px;
  text-align: start;

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
    margin-block-end: 63px;
  }

  @media (min-width: $desktop) {
    margin-block-end: 146px;
  }
}

.review__text {
  @include text;

  margin-block-end: 25px;

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
    max-width: 700px;
    margin-block-end: 54px;
    margin-block-end: 0;
  }

  @media (min-width: $desktop) {
    max-inline-size: 435px;
    margin-block-end: 69px;
  }
}

.review__list {
  @include list;

  display: flex;
  align-items: center;
  margin-block-end: 32px;

  @media (min-width: $tablet) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / -1;
    margin-block-end: 40px;
  }
}

.review__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  inline-size: 124px;
  margin-inline-end: 32px;
  padding-block-start: 14px;
  padding-block-end: 18px;
  border: 1px solid $grey;
  box-sizing: border-box;
  border-radius: 3px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet) {
    inline-size: 162px;
    margin-inline-end: 42px;
    padding-block-start: 14px;
    padding-block-end: 18px;
  }

  @media (min-width: $desktop) {
    inline-size: 162px;
    text-align: center;
  }
}

.review__count {
  @include text-uppercase(24px, 24px);

  @media (min-width: $tablet) {
    @include text-uppercase(30px, 37px);
  }
}

.review__description {
  @include text(12px, 12px);

  position: absolute;
  inset-block-end: -14px;
  max-inline-size: 77px;
  margin-block-start: 9px;
  margin-block-end: 0;
  padding-block: 0;
  padding-inline: 5px;
  text-align: center;
  background-color: $background-color;

  @media (min-width: $tablet) {
    inset-block-end: -6px;
    max-inline-size: 143px;
    padding-block: 0;
    padding-inline: 8px;
    box-sizing: border-box;

    font-size: 14px;
    line-height: 1;
    background-color: $lighten;
  }

  @media (min-width: $desktop) {
    background-color: $background-color;
  }
}

.review__title {
  @include text-uppercase(14px, 20px);

  @media (min-width: $tablet) {
    @include text-uppercase(20px, 20px);

    justify-self: end;
    max-inline-size: 175px;
    margin-block-end: 10px;

    text-align: right;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / -1;
    max-inline-size: 100%;
    inline-size: 100%;
    text-align: left;
  }
}

.review__price {
  @media (min-width: $tablet) {
    display: inline-block;
    margin-block-end: 10px;
  }

  @media (min-width: $desktop) {
    margin-inline-start: 59px;
  }
}
