.socials {
  @include list;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @media (min-width: $desktop) {
    margin-block-end: 5px;
  }
}

.socials__link {
  display: block;
  inline-size: 28px;
  block-size: 22px;
  background-color: $text-secondary;
  mask-repeat: no-repeat;
  transition: 0.3s ease;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $base;
    transition: 0.3s ease;
  }

  &:active {
    opacity: 0.3;
    background-color: $base;
    transition: 0.3s ease;
  }

  &--vkontakte {
    mask-image: url("../../images/icons/stack.svg#icon-vkontakte");
  }

  &--youtube {
    mask-image: url("../../images/icons/stack.svg#icon-youtube");
  }

  &--telegramm {
    mask-image: url("../../images/icons/stack.svg#icon-telegram");
  }
}
