.socials {
  @include list;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 19px;
}

.socials__link {
  width: 23px;
  height: 23px;
  display: flex;
}
