.steps {
  margin-bottom: 39px;
  background-color: $lighten;
  color: $darken;
}

.steps__wrapper {
  @include container;
}

.steps__list {
  @include list;
  display: flex;
  gap: 20px;
  counter-reset: steps 0;

  flex-direction: column;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

.steps__item {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  counter-increment: steps 1;

  @media (min-width: $tablet) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &::before {
    display: block;
    content: "";
    min-width: 80px;
    height: 80px;

    background-color: $base;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--nutrition::before {
    background-size: 30px 32px;
    background-image: url("../../images/icons/stack.svg#icon-leaf");
  }

  &--available::before {
    background-size: 27px 32px;
    background-image: url("../../images/icons/stack.svg#icon-tub");
  }

  &--replace::before {
    background-size: 25px 30px;
    background-image: url("../../images/icons/stack.svg#icon-eat");
  }

  &--changes::before {
    background-size: 32px 33px;
    background-image: url("../../images/icons/stack.svg#icon-alarm");
  }

  @media (min-width: $tablet) {
    &::after {
      position: absolute;
      content: counter(steps);
      top: 0;
      right: 0;

      @include text-counter;
    }
  }
}

.steps__text {
  margin: 0;
  @include text;
}
